[submodule "vim/bundle/Command-T"]
	path = vim/bundle/Command-T
	url = https://github.com/vim-scripts/Command-T.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://github.com/vim-scripts/Command-T.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/theme-buttercream"]
	path = vim/bundle/theme-buttercream
	url = https://github.com/vim-scripts/buttercream.vim
[submodule "vim/bundle/theme-jellybeans"]
	path = vim/bundle/theme-jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim/bundle/cocoa.vim"]
	path = vim/bundle/cocoa.vim
	url = https://github.com/msanders/cocoa.vim
[submodule "vim/bundle/mustache"]
	path = vim/bundle/mustache
	url = git://github.com/juvenn/mustache.vim.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/vim-scripts/vim-coffee-script.git
[submodule "vim/bundle/vim-tabular"]
	path = vim/bundle/vim-tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vim/bundle/vim-clojure"]
	path = vim/bundle/vim-clojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule "vim/bundle/vim-ctrlp"]
	path = vim/bundle/vim-ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/bundle/vim-theme-ir_black"]
	path = vim/bundle/vim-theme-ir_black
	url = https://github.com/wgibbs/vim-irblack.git
[submodule "vim/bundle/theme-molokai"]
	path = vim/bundle/theme-molokai
	url = https://github.com/vim-scripts/molokai.git
[submodule "vim/bundle/vitality"]
	path = vim/bundle/vitality
	url = https://github.com/sjl/vitality.vim.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/vim-scripts/ack.vim.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/vim-scripts/fugitive.vim.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
